<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qrw.mapper.CommentMapper">

    <resultMap id="commentMap" type="com.qrw.pojo.Comment">
        <id column="id" property="id"></id>
        <result column="parent_id" property="parentId"></result>
        <result column="type" property="type"></result>
        <result column="comment" property="comment"></result>
        <result column="commentator" property="commentator"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="gmt_modified" property="gmtModified"></result>
        <result column="like_count" property="likeCount"></result>
        <result column="comment_count" property="commentCount"></result>
    </resultMap>

    <insert id="insert" parameterType="comment">
        insert into comment(`parent_id`,`type`,comment,commentator,gmt_create,gmt_modified)
        values(#{parentId},#{type},#{comment},#{commentator},#{gmtCreate},#{gmtModified});
    </insert>

    <select id="getCommentById" parameterType="Long" resultMap="commentMap">
        select * from comment where id = #{id};
    </select>

    <select id="getCommentsByExample" parameterType="comment" resultMap="commentMap">
        select * from comment where parent_id = #{parentId} and type = #{type} order by gmt_create desc ;
    </select>

    <update id="incCommentCount" parameterType="comment">
        update comment
        set comment_count = comment_count + #{commentCount}
        where id = #{id};
    </update>
</mapper>