<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.qrw.mapper.UserMapper">

    <resultMap id="userMap" type="user">
        <id column="id" property="id"></id>
        <result column="account_id" property="accountId"></result>
        <result column="name" property="name"></result>
        <result column="bio" property="bio"></result>
        <result column="token" property="token"></result>
        <result column="gmt_create" property="gmtCreate"></result>
        <result column="gmt_modified" property="gmtModified"></result>
        <result column="avatar_url" property="avatarUrl"></result>
    </resultMap>

    <insert id="insertUser" parameterType="user">
        insert into user(account_id,name,bio,token,gmt_create,gmt_modified,avatar_url)
        values (#{accountId},#{name},#{bio},#{token},#{gmtCreate},#{gmtModified},#{avatarUrl});
    </insert>

    <select id="findUserByToken" parameterType="String" resultMap="userMap" >
        select * from user where token = #{token};
    </select>
    
    <select id="findUserById" parameterType="Integer" resultMap="userMap">
        select * from user where id = #{id};
    </select>

</mapper>