<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>mycommnity</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/community.css">
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <h1>出错了！</h1>
    <p th:text="${message}">服务器开小差去了</p>
    <p><a class="btn btn-primary btn-lg" href="/" role="button">会主页瞧瞧</a></p>
</div>
</body>
</html>